---
import AutomaticSystemDesign from "./AutomaticSystemDesign";


---

<section id="hero" class="w-dvw h-dvh relative">
   <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center gap-2 overflow-hidden">
      <!-- My Name -->
      <h1 class="font-thin italic text-6xl lg:text-8xl flex flex-col -space-y-2 text-center">
         <span class="opacity-100">Ridwan</span>
         <span class="opacity-80 -mt-2">Bagoes</span>
         <span class="opacity-50">Setiawan</span>
      </h1>
   
      <!-- What I'm Doing -->
      <p class="mt-4 tracking-wider text-xs lg:text-lg w-[100vw] text-center">
         <span>System Designer</span>
         <span>-</span>
         <span>Data Scientist</span>
         <span>-</span>
         <span>Fullstack Engineer</span>
      </p>
   </div>

   <AutomaticSystemDesign client:load />
</section>