---
import AutomaticSystemDesign from "./AutomaticSystemDesign";


---

<section id="hero" class="w-dvw h-dvh">
  <!-- My Name -->
   <h1 class="font-thin italic text-6xl lg:text-8xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col -space-y-2 text-center">
      <span class="opacity-100">Ridwan</span>
      <span class="opacity-80 -mt-2">Bagoes</span>
      <span class="opacity-50">Setiawan</span>
   </h1>

   <AutomaticSystemDesign client:load />
</section>