---
import HoverCounter from "./HoverCounter";
import Sidebar from "./Sidebar";

---


<nav class="hidden w-[90vw] p-4 lg:flex flex-row justify-around fixed left-1/2 -translate-x-1/2 z-100">
  <a class="hover-counter" href="#hero">INTRO</a>
  <div class="select-none flex justify-center items-center text-[#6b2e94]">I W A N</div>
  <a class="hover-counter" href="#project">PROJECTS</a>
  <span class="pointer-events-none -z-10 absolute top-1/2 -translate-y-1/2 h-[2px] bg-white ease-in-out"></span>
  <HoverCounter client:load />
</nav>
<Sidebar client:load />

<style>
  a {
    border: 2px solid transparent;
    border-radius: 5px;
    transition-duration: 200ms;
    transition-delay: 200ms;
    padding: 10px 40px;
  }
  
  a:hover {
    border-color: white;
    background-color: black;
    transition-delay: 0s;
  }
  
  span {
    width: 0;
    right: 0;
    transition-duration: 500ms;
  }
  
  a:hover ~ span {
    width: 100%;
    left: 0;
    transition-duration: 200ms;
  }
  
  a:active {
    border-color: #6b2e94;
    transition-duration: 50ms;
  }
  
  a:active ~ span {
    background: #6b2e94;
    transition-duration: 50ms;
  }

  div {
    padding: 10px;
    transition-delay: 150ms;
    transition-duration: 200ms;
    transform: skew(-15deg);
    border: 2px solid transparent;
  }

  a:hover ~ div, div:has(~ a:hover) {
    transition-delay: 0s;
    border-color: white;
    background-color: #000;
  }

  a:active ~ div, div:has(~ a:active) {
    border-color: #6b2e94;
  }

  a.over-10 {
    color: #6b2e94;
  }
  
  a.over-10:hover {
    border-color: #6b2e94;
  }

  a.over-10 ~ span {
    background-color: #6b2e94;
  }
</style>