---

---

<footer class="mt-8 px-2 py-8 flex flex-row justify-between items-center bg-black/50">
  <h1>Ridwan Bagoes Setiawan</h1>
  <button class="cursor-pointer relative p-4 px-8  hover:[&_span]:w-full hover:[&_span]:left-0" onclick={`window.location.href = "/cv";`}>
    My CV
    <span class="absolute duration-300 right-0 bottom-0 w-0 h-[1px] bg-white"></span>
  </button>
</footer>